{% extends "base/nav.html" %}

{% block nav %}
    <ul>
        <ul>
            <li>
                <a href="/printers">
                    Printers
                </a>
            </li>
            <li>
                <a href="/print_jobs">
                    Print Jobs
                </a>
            </li>
            <li>
                <a href="/login_cups">
                    CUPS Server
                </a>
            </li>
            <li>
                <a href="/login">
                    Odoo Server
                </a>
            </li>
        </ul>
    </ul>
{% endblock %}
