{% extends "base/frontend.html" %}

{% block base_content %}

    <div class="container">
        <div class="row">
            <div class="form-header column is-offset-4 is-4">
                <div class="logo text-center">
                    <img src="static/img/odoo.png" width="40%" alt="logo"/>
                    <h3>Print Server</h3>
                    <p>by Bista Solutions</p>
                </div>
            </div>
        </div>
    </div>
    {% block content %}


    {% endblock %}

{% endblock %}